.fake-skeleton {
    width:60%;
    text-align: left;
}

.btnSave{
    --background:#1D9D36;
    background-color:#1D9D36;
}
ion-item{
    --background: transparent;
    --border-color: var(--ion-color-secondary);
}

.label{
    font-family: 'Roboto';  
    font-size: 13px;
}
.cuenta{
    font-family: 'Roboto';  
    font-size: 11px;
}