<ion-header>
  <ion-toolbar>
   <ion-buttons slot="start">
      <ion-button (click)="goBack()">        
        <ion-icon color="light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goSettings()">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Retirar fondos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-slides pager="true" style="height:100%">
  <ion-slide>
      <ion-grid >
        <ion-row  >
          <ion-col text-center size="12">
            <h1>Retirar fondos</h1>
          </ion-col>
        </ion-row> 
        <ion-row  >
          <ion-col text-center size="12">
            <ion-icon name="timer" style="font-size:120px" color="warning"></ion-icon> 
          </ion-col>
        </ion-row>
        <ion-row  >
          <ion-col text-center size="12">
            <p>Pronto tendremos para usted</p>
            <h1>El retiro efectivo de fondos</h1>
            <br>
            <p>
              <br><br><i>interChange</i> 
            <br><br>
            </p>
           
          </ion-col>
        </ion-row>  
        
      </ion-grid>
      
      
  </ion-slide>
  </ion-slides>
</ion-content>
