  
  <ion-tabs >
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="balance">      
        <ion-icon name="home"></ion-icon>
        <ion-label>Principal</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="operation">  
        <ion-icon name="construct"></ion-icon>
        <ion-label>Operaciones</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="message">
        <ion-icon name="chatboxes"></ion-icon>
        <ion-label>Mesajes</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="movements">
        <ion-icon name="wallet"></ion-icon>
        <ion-label>Billetera</ion-label>
      </ion-tab-button>
      
    </ion-tab-bar>
      
  </ion-tabs>
