ion-toolbar{
    --border-style: none;
}

.btnSave{
    --background:#1D9D36;
    background-color:#1D9D36;
}
ion-item{
    --background: transparent;
    --border-color: var(--ion-color-secondary);
}

