ion-toolbar{
    --background: #1D9D36;
    --color:#FFFFFF;
}
.i-labelC{
    font-family: 'Roboto';  
    font-size: 14px;
    color: #FFFFFF; 
    text-align:center;
}

.hSaldo{
    font-family: 'Roboto';  
    font-size: 18px;
    color: rgb(176, 194, 177); 
    text-align:center; 
}